@font-face {
    font-family: 'NeueHaasRoman';
    src: url('NHaasGroteskDSPro-55Rg\ copy.ttf') format('truetype');
}

@font-face {
    font-family: 'NeueHaasMed';
    src: url('NHaasGroteskDSPro-65Md\ copy.ttf') format('truetype');
}

@font-face {
    font-family: 'NeueHaasBold';
    src: url('NHaasGroteskDSPro-75Bd\ copy.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0px;;
}

h1 {
    font-family: 'NeueHaasBold', sans-serif;
    font-size: 5rem;
    margin: 0px;
}

h2 {
    font-family: 'NeueHaasBold', sans-serif;
    font-size: 2rem;
    margin: 30px 0px;
}

h3 {
    font-family: 'NeueHaasBold';
}

p, li {
    font-family: 'NeueHaasRoman';
    font-size: 1.3rem;
    margin: 0px;
}

.caption {
    font-family: 'NeueHaasRoman';
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

.center-text {
    text-align: center;
}

a:hover, .highlight {
    color: #80d7cf;
}

header {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    background-color: #0f0f0f;
    position: sticky;
    top: 0px;
}

header a {
    font-family: 'NeueHaasRoman', sans-serif;
    font-size: 1.5rem;
}

header .links a:first-child{
    margin-right: 50px;
}

.banner {
    margin: 200px 0px;
}

.banner h1 {
    font-family: 'NeueHaasRoman';
}

.banner p {
    margin: 1em 0px;
}

.container, .about-container, .video-module{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 75px;
}

#work {
    padding-top: 77px;
}

.container:hover p {
    color: #80d7cf;
}

.container img {
    -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.container:hover img {
    opacity: .9;
    -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.container p {
    margin: 15px 0px;
}

.container p:first-child {
    font-family: 'NeueHaasMed';
    font-size: 1.8rem;
}

.container p:nth-child(3) {
    font-size: .8rem;
}

.container .content {
    grid-column: 2/4;
}

.container .grid-images {
    grid-column: 5/11;
    
}

footer {
    border-top: .1px solid rgba(255, 255, 255, 0.3);
    padding: 25px 0px;
}

footer p {
    font-size: 1rem;
}

/* About Page Styling */

.about-container {
    margin-top: 75px;
}

.about-container h1 {
    font-size: 2.5rem;
    font-family: 'NeueHaasBold', sans-serif;
    margin-bottom: 15px;
}

.about-container .about-image {
    grid-column: 1/7;
}

.about-container .about-content {
    grid-column: 8/13;
}

.about-container p {
    line-height: 2.25rem;
    padding-bottom: 20px;
}

.about-container p:nth-child(3) {
    margin-bottom: 30px;
}

.about-container a {
    font-family: 'NeueHaasBold', sans-serif;
    margin-right: 20px;
    font-size: 1rem;
}

/* Portfolio Styling */

.project-content p {
    margin: 20px 0px;
    line-height: 2.25rem;
}

.project-content .intro {
    margin: 120px 300px;
}

.project-content .role {
    margin: 25px 300px;
}

.project-content .content {
    margin: 50px 300px;
}

.project-image {
    margin-bottom: 50px;
}

.project-content li {
    line-height: 2.25rem;
}

.video-module {
    margin: 75px 300px;
}

.video-module .video-content {
    grid-column: 1/7;
}

video {
    width: 100%;
}

.video-module video {
    grid-column: 8/12;
}

.graphics {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    /* align-items: center; */
}

.graphics div:first-child {
    grid-column: 1/7;
}

.graphics div:nth-child(2) {
    grid-column: 8/14;
}

/* Carousel Stuff */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
